version: '3.8'

services:
  backend:
    build: ./backend
    container_name: unstable-backend
    ports:
      - "5001:5000"

  client:
    build: ./client
    container_name: resilient-client
    ports:
      - "8080:8080"
    depends_on:
      - backend
    environment:
      - PYTHONUNBUFFERED=1

  k6:
    image: grafana/k6:latest
    volumes:
      - ./scripts:/scripts
    command: run --out experimental-prometheus-rw /scripts/load-script.js
    ports:
      - "6565:6565"
    environment:
      - K6_PROMETHEUS_RW_SERVER_URL=http://localhost:9090/api/v1/write
      - K6_PROMETHEUS_RW_TREND_STATS=p(95),p(99),min,max
    network_mode: host

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle' # Allows config reloads without restart
      - '--web.enable-remote-write-receiver' # Enables remote write endpoint for k6
    depends_on:
      - backend
  
  grafana:
    image: grafana/grafana:9.0.0
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  prometheus_data:
  grafana_data: